body {
  display: block;
}

/* Header CSS */

.header {
  display: flex;
  position: relative;
  height: 25vh;
  width: 95%;
  top: 2.5vh;
  left: 2.5vw;
  /* border: 1px solid black; */
}

.face {
  height: 25vh;
  width: 25vh;
  background-image: url('./headshot.jpg');
  background-size: contain;
  border-radius: 100%;
}

.header-info {
  position: relative;
  left: 2.5vw;
  /* border: 1px solid blue; */
}

.name {
  position: relative;
  top: 1vh;
  height: 50%;
  font-family: 'Staatliches', cursive;
  font-size: 10vh;
  letter-spacing: 0.05em;
  /* border: 1px solid pink; */
}

.subtitle {
  position: relative;
  top: -2vh;
  left: 0.1vw;
  font-family: 'Roboto', sans-serif;
  font-size: 3vh;
  font-weight: 300;
}

.icons {
  /* border: 1px solid orange; */
  position: relative;
  /* top: -1vh; */
  left: -0.3463vw;
}

.fa-linkedin-in, .fa-github, .fa-envelope, .fa-kaggle {
  font-size: 5vh;
  padding: 0 10px;
  color: black;
  text-decoration: none;
}

/* Content CSS */

.content {
  position: relative;
  top: 7.5vh; /* + 2.5vh for header offset */
  left: 2.5vw;
  width: 95%;
  /* border: 1px solid blue; */
}

.content-block {
  margin-bottom: 5vh;
}

.content-block-header {
  margin-bottom: 2vh;
  font-family: 'Roboto', sans-serif;
  font-size: 5vh;
  font-weight: 500;
  border-bottom: 0.25mm solid;
}

.projects {
  position: relative;
  left: 2vw;
  width: 75%;
  /* border: 1px dotted red; */
}

.project {
  margin-bottom: 1.25vh;
}

.project-name {
  font-family: 'Roboto', sans-serif;
  font-weight: 500;
  font-size: 2vh;
}

.project-description {
  margin-left: 2vw;
  font-family: 'Noto Sans JP', sans-serif;
  font-weight: 300;
  font-size: 1.75vh;
  /* border: 1px solid yellow; */
}

.about-content {
  width: 85%;
  margin-left: 2vw;
  font-family: 'Roboto', sans-serif;
  font-weight: 400;
  font-size: 2vh;
}

@media all and (min-width: 768px) and (max-width: 768px) {
  .header {
    left: 0;
  }

  .face {
    display: none;
  }
}

@media only screen and (max-width: 660px) {
  .header {
    left: 0;
  }

  .face {
    display: none;
  }

  .name {
    font-size: 9vh;
  }
}
