body {
  margin: 5vh 10vw;
  font-family: 'Roboto', sans-serif;
  background-color: #f2efe9;
  color: #252627;
}

.face_container {
  margin-left: 3vw;
  margin-bottom: 1vw;
  width: 25.5vw;
  float: right;
  /* border: 1px solid blue; */
}

img {
  max-width:100%;
  max-height:100%;
}

.content {
  text-align: justify;
  /* border: 1px solid red; */
}

.title {
  font-family: 'Lato', sans-serif;
  font-weight: 700;
  font-size: 2em;
}

.links {
  margin-bottom: 2vh;
}

.projects {
  margin: 2vh 0;
}

.section {
  color: #904e55;
}

a {
  color: #564e58;
}

.slideshow {
  max-width:100%;
  max-height:100%;
}

.slide {
  display: none;
}

.prev, .next {
  float: right;
  cursor: pointer;
}
