ul {
  list-style: none;
  font-family: "Roboto", sans-serif;
  font-size: 25px;
  font-weight: 100;
  text-align: center;
  padding-left: 0;
}

nav {
  width: 20vw;
  height: 200vh;
  margin-left: 3.5vw;
}

#about {
  margin-top: 100px;
}

#copyright {
  font-family: "Roboto", sans-serif;
  font-size: 10px;
  font-weight: 100;
  text-align: center;
  margin-top: 50px;
}

#description {
  position: absolute;
  top: 25vh;
  left: 50vw;
  font-family: "Roboto", sans-serif;
  font-size: 40px;
  font-weight: 100;
}

#ex1 .square {
  background-image: url("./media/hmm.png");
  background-size: contain;
}

#ex2 .square {
  background-image: url("./media/xam.png");
  background-size: 120%;
}


#ex3 .square {
  background-image: url("./media/slf.png");
  background-size: 140%;
}

#picture {
  height: 50vh;
  width: 50vh;
  position: relative;
  top: 25vh;
  left: 15vw;
  background-image: url("./media/headshot.jpg");
  background-size: contain;
  border-radius: 100%;
  z-index: 2;
}

.banner p {
  font-family: "Roboto", sans-serif;
  font-size: 40px;
  font-weight: 100;
  text-align: left;
  border-bottom: 0.25mm solid;
}

.button {
  cursor: pointer;
}

.container {
  display: inline-flex;
  align-content: center;
  margin-top: 80vh;
  width: 90vw;
}

.details {
  padding-top: 2vh;
  font-family: "Roboto", sans-serif;
  font-size: 12px;
  font-weight: 100;
  text-align: justify;
}

.emboldened {
  font-weight: 300;
}

.ex {
  width: 20vw;
  vertical-align: top;
  display: inline-block;
  padding: 10px;
}

.fa-linkedin-in, .fa-github, .fa-envelope {
  font-size: 33px;
  padding: 0 5px;
  color: black;
  text-decoration: none;
}

.icons {
  position: sticky;
  top: 40vh;
  width: max-content;
  margin: 0 auto;
}

.info {
  width: 70vw;
  display: block;
  line-height: 1.5;
}

.link {
  color: blue;
  text-decoration: none;
}

.list {
  align-content: center;
  position: sticky;
  top: 30vh;
}

.particulars {
  font-family: "Roboto", sans-serif;
  font-size: 20px;
  font-weight: 100;
  text-align: justify;
  padding: 10px;
}

.row {
  display: inline;
  align-content: center;
}

.square {
  height: 20vh;
  border: 1px solid rgba(0, 0, 0, 0.7);
  border-radius: 5%;
  cursor: pointer;
}

@media only screen and (max-width: 1125px) {
  #picture {
    left: 10vw !important;
  }
}

@media only screen and (max-width: 952px) {
  body {
    display: block;
  }

  nav {
    height: auto;
    width: 100%;
    left: 0;
  }

  nav .list {
    visibility: hidden;
  }

  #copyright {
    margin-top: 30vh;
  }

  #description {
    position: static;
    top: 22vh;
    left: 0;
    margin: 0 auto;
    text-align: center;
  }

  #picture {
    position: static !important;
    height: 40vh !important;
    width: 40vh !important;
    top: 2vh !important;
    left: 0 !important;
    margin: 0 auto;
  }

  .container {
    display: block;
    margin-top: 0;
  }

  .examples {
    width: 80%;
    margin: 0 auto;
  }

  .info {
    position: relative;
    top: 18vh;
    width: 97.5vw;
  }
}
