@import "tailwindcss";

@theme {
  --color-tan: #f2efe9;
  --color-dark-gray: #252627;
  --color-orange: #ea3501;

  --text-shadow-glow: 0 0 3px rgb(234, 51, 1 / 0.5);

  --font-archivo-black: "Archivo Black", sans-serif;
  --font-dosis: "Dosis", sans-serif;
  --font-roboto: "Roboto", sans-serif;

  --animate-move-down: move-down 1s ease;

  @keyframes move-down {
    0% {
      transform: translateY(0px);
    }
    50% {
      transform: translateY(10px);
    }
    100% {
      transform: translateY(0px);
    }
  }
}

h3 {
  /* Should work in tailwind but doesn't? */
  text-shadow: 0 0 3px rgba(234, 51, 1, 0.5);
}
