.onOpen {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  height: 90vh;
}

.scrollButtonContainer {
  position: relative;
  margin: 0 auto;
  z-index: 2;
}

.scrollButton {
  display: block;
  padding: 10px;
  border-radius: 100%;
  color: black;
  transition: background-color 0.5s ease;
  cursor: pointer;
}

.scrollButton:hover {
  background-color: rgba(0, 0, 0, 0.05);
}

.scrollButton:active {
  background-color: rgba(0, 0, 0, 0.1);
}

.scrollButton:hover svg {
  animation: 1s ease 1 moveDown;
}

.scrollButton span {
  font-size: 3.5em;
}

.separator {
  height: 5vh;
}

.onScroll {
  width: 75%;
  margin: 0 auto;
  text-align: justify;
}

.aboutLinkSite {
  padding-left: 0.05em;
}

.gallerySubheader {
  margin-bottom: 20px;
}

.aboutLink {
  font-size: 3em;
  cursor: pointer;
}


/* DYNAMIC LAYOUT */

@media all and (max-width: 750px) {
  .prev, .next {
    font-size: 2em;
  }
}

@media all and (max-width: 500px) {
  .section, .fab, .fas {
    font-size: 2.5em;
  }

  .subtitle {
    font-size: 1.25em;
  }
}

@media all and (min-width: 501px) and (max-width: 750px) {
  /* Make scroll arrow smaller for these widths */
  .scroll span {
    font-size: 2em;
  }
}


/* KEYFRAMES */

@keyframes moveDown {
  0% {
    transform: translateY(0px);
  }
  50% {
    transform: translateY(10px);
  }
  100% {
    transform: translateY(0px);
  }
}
