.slideshow {
  margin-bottom: 30px;
  display: flex;
  align-items: center;
  position: absolute;
}

.slideContainer {
  margin-top: 0;
  margin-bottom: 0;
  width: 100%;
  display: flex;
  flex-direction: column;
}

.slide {
  width: 100%;
  aspect-ratio: 3 / 2;
  justify-content: center;
  overflow: hidden;
}

.slideshowImg {
  width: 100%;
  height: 100%;
  object-fit: contain;
}

.slideText {
  height: 40px;
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: 0.85em;
}

.prev, .next {
  all: unset; /* unset button defaults */
  display: flex;
  align-items: center;
  justify-content: center;
  position: relative;
  bottom: 15px;
  padding: 10px;
  width: 10px;
  height: 10px;
  border-radius: 100%;
  cursor: pointer;
  transition: background-color 0.5s ease;
  z-index: 2;
}

.prev svg, .next svg {
  position: relative;
  left: 0px;
  transition: all 100ms linear;
}

.prev:hover, .next:hover {
  background-color: rgba(0, 0, 0, 0.05);
}

.prev:hover svg {
  left: -4px;
}

.next:hover svg {
  left: 4px;
}

.prev:active, .next:active {
  background-color: rgba(0, 0, 0, 0.1);
}

.prev:active svg {
  left: 0px;
}

.next:active svg {
  left: 0px;
}

.slideshowNav {
  color: black;
}

.closeButton {
  all: unset;
  position: absolute;
  top: 0;
  right: 0;
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 10px;
  width: 10px;
  height: 10px;
  background: none;
  border-radius: 100%;
  transition: 0.5s ease;
  cursor: pointer;
}

.closeButton:hover {
  background-color: rgba(0, 0, 0, 0.05);
  transform: rotate(90deg);
}

.closeButton:active {
  background-color: rgba(0, 0, 0, 0.1);
}
